.App {
  display: flex;
  height: 100vh;
}

.App > * {
  overflow-y: auto;
}
.app-container {
  display: grid;

  grid-template-columns: 30% 70%;
  margin-left: 5vh;
  height: 100vh;
}

.sections-list {
  /* Styles specific to the SectionsList component */
  border-right: 1px solid #ddd; /* Optional: to visually separate the two sections */
  overflow-y: auto; /* For scrolling if the content exceeds the viewport height */
}

.chatbox-interface {
  /* Styles specific to the ChatboxInterface component */
  overflow-y: auto; /* For scrolling if the content exceeds the viewport height */
}

/* Set the width of SectionsList to 25% */
.Component_SectionList_SectionList__container {
  flex: 0 0 25%;
  /* This means the element will not grow or shrink and will stay at 25% of the parent's width */
  border-right: 1px solid #ccc;
  /* Optional: adds a border between the sections */
}

/* Set the width of ChatboxInterface to 75% */
.Component_ChatComponent_ChatBoxInterface_ChatboxInterface__container {
  flex: 1;
  /* This means the element will take up the rest of the space (75%) */
}
